.cards__list {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.cards__item {
  max-width: 225px;
  max-height: 342px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white);
}

.cards__item-image-container {
  position: relative;
  overflow: hidden;
  max-height: 250px;
}

.cards__item-image-container:hover > .cards__item-image-menu {
  display: flex;
}

.cards__item-image-container:hover > .cards__item-image {
  transform: scale(1.05);
  cursor: pointer;
  filter: blur(5px)
}

.cards__item-image {
  width: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  transition: all ease 0.1s;
}

.cards__content {
  position: relative;
  min-height: 92px;
  display: flex;
  flex-direction: column;
  padding: 6px 8px;
}

.cards__item-title {
  font-size: 18px;
  font-weight: normal;
}

.cards__item-signs {
  margin-top: auto;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.cards__item-sign--toplay {
  width: 24px;
  height: 24px;
}

.cards__item-sign--dlc {
  width: 24px;
  height: 24px;
}

.cards__item-sign--toscore {
  margin-left: auto;
}

.cards__item-sign--toscore:hover {
  cursor: pointer;
}

.cards__item-sign--score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  font-weight: bold;
  color: var(--white);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-left: auto;
  line-height: 1em;
  padding-bottom: 6px;
}

.cards__item-sign--release {
  margin-left: auto;
  background-color: rgba(240, 84, 84, 0.5);
  color: var(--white);
  border-radius: 20px;
  padding: 5px 14px;
}

.cards__item-image-menu {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  z-index: 2;
  opacity: 0;
}

.cards__item-image-button {
  width: 150px;
  padding: 5px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__item-image-button:hover {
  background-color: var(---lightGray);
}




