.button {
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  max-height: 40px;
}

.button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}