.modal__add-game,
.modal__edit-game {
  border: none;
  border-radius: 20px;
  background-color: var(--light-color);
  justify-self: center;
  align-self: center;
}

.modal__add-game::backdrop,
.modal__edit-game::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__form {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  gap: 16px;
}

.modal__title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-bottom: 14px;
}

.modal__container {
  display: flex;
  align-items: center;
  width: 400px;
  height: 24px;
}

.modal__label {
  flex-grow: 1;
}

.modal__input {
  border-radius: 5px;
  padding-inline: 5px;
  width: 222px;
  height: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 18px;
}

.modal__checkbox {
  height: 22px;
  aspect-ratio: 1;
  border-radius: 5px;
}

/* .modal__platinum--input {
} */

/* .modal__poster--input {

} */

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 14px;
}

.modal__button {
  padding: 9px 36px;
  color: var(--white);
}

.modal__submit {
  background-color: var(--accent-color);
}

.modal__submit:hover {
  background-color: var(--accent-color-light);
}

.modal__submit:active {
  background-color: var(--accent-color);
}

.modal__cancel {
  background-color: var(--dark-color);
}

.modal__cancel:hover {
  background-color: var(--dark-color-light);
}

.modal__cancel:active {
  background-color: var(--dark-color);
}