:root {
  --main-color: #ddd;
  --accent-color: #f05454;
  --accent-color-light: #ff6f6f;
  --bg-color-primary: #222831;
  --bg-color-primary-light: #303946;
  --bg-color-secondary: #30475e;
  --bg-color-secondary-light: #4f7499;
}